[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.4.5"
itsdangerous = "==0.24"
Flask = "==0.10.1"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"
alembic = "==1.0.0"
"psycopg2" = "==2.7"
python-dateutil = "==2.7.3"
python-editor = "==1.0.3"
six = "==1.11.0"
Flask-Migrate = "==1.8.0"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.1"
Mako = "==1.0.7"
SQLAlchemy = "==1.2.11"
requests = "*"
"beautifulsoup4" = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.6"
